# ========================
# 🌐 APP CONFIG
# ========================
PORT=4000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:4000
# ========================
# 🗄️ DATABASE (MySQL/Postgres)
# ========================
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_database_password
DB_NAME=your_database_name
# ========================
# 🔐 AUTH & SECURITY
# ========================
JWT_SECRET=your_super_secret_jwt_key_please_change
SALT=
EMAIL_VERIFICATION_SECRET=your_email_verification_secret
# ========================
# 📧 EMAIL (SMTP)
# ========================
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=[your_email@gmail.com](mailto:your_email@gmail.com)
EMAIL_PASSWORD=your_app_password
# ========================
# 🧵 REDIS (BullMQ)
# ========================
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
# ========================
# 📄 PAGINATION
# ========================s
LIMIT_PAGE=10
